exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(RcppZiggurat, zsetseed, zrnormVec)
importFrom(stats, runif)
importFrom(RSpectra, eigs_sym, svds)
importFrom(irlba, irlba)
importFrom(Gmedian, kGmedian)
importFrom(igraph, graph_from_adjacency_matrix, plot.igraph)
import(Matrix)
useDynLib(Rclust, .registration = TRUE)
